* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    max-width: 1142px;
    margin: auto;
}

.header-border {
    border-bottom: solid 1px #ececec;
}

.header-medium {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 45px;
    font-weight: 300;
    color: #222222;
}

.red {
    font-weight: 600;
    color: #f16d7f;
}

.cart-button {
    font-size: 27px;
    padding: 10px;
    background-color: #f16d7f;
    color: #ffffff;
    border-radius: 5%;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: space-between;
    margin: 30px 0px;
}

.products-item:hover {
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 16%);
}

.item-info {
    display: flex;
    align-items: baseline;
    padding: 20px 10px;
    height: 84px;
    justify-content: space-between;
}

.product-buy {
    font-size: 20px;
    padding: 10px;
    background-color: #f16d7f;
    color: #ffffff;
    border-radius: 5%;
}